﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
    font-family:"Roboto Thin";
    src:url("Roboto-Thin.eot?") format("eot"),
    url("Roboto-Thin.woff") format("woff"),
    url("Roboto-Thin.ttf") format("truetype"),
    url("Roboto-Thin.svg#Roboto-Thin") format("svg");
    font-weight:normal;
    font-style:normal;
}
