<span style='color: #000' title='Frames'>   366</span><span style='color: #009' title='Memory'>  11264.00 KB</span><span style='color: #900' title='Time'>   2444.17 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />