﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
    font-family:"Roboto Bold";
    src:url("Roboto-Bold.eot?") format("eot"),
    url("Roboto-Bold.woff") format("woff"),
    url("Roboto-Bold.ttf") format("truetype"),
    url("Roboto-Bold.svg#Roboto-Bold") format("svg");
    font-weight:normal;
    font-style:normal;
}
