*{
margin:0;
padding: 0;
/*font-family: Arial, Helvetica, sans-serif;*/
font-size: 14px;
line-height: 18px;
font-family: Lustria,Georgia;
}
body{
background: #000000 url(../img/bg.png) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.container{
min-height: 400px;
}
.clearfix{
clear: both;
}
#logo{
background: #607B44;
width: 1050px;
height: 107px;
margin: auto;
border-left: #9FB95B 5px solid;
border-right: #9FB95B 5px solid;
padding-left: 30px;
}
#logo h1{
font-size: 22px;
font-weight: normal;
color:#fff;
/*float: left;
padding: 10px;
margin-top: 35px;*/
padding: 0;
margin: 0;
margin-top: -15px;
}
#logo img{
/*float: left;*/
padding: 10px;	
}
#menu{
width: 1050px;
margin: auto;
height: 66px;
background: url(../img/header/menu_bg.png);
clear: both;
}
#menu ul{
padding-left: 0px;
list-style: none;
padding: 0px 0px 0px 0px;
margin: 0 auto;
width: 100%;
margin-left: 90px;
}
#menu ul li{
display: inline;
}
#menu ul li a{
/*font: 16px Arial, Helvetica, sans-serif;*/
font-size: 16px;
color: #ffffff;
font-weight: normal;
text-decoration: none;
text-align: center;
display: block;
float: left;
/*width: 154px;*/
width: 16.66%;
height: 61px;
line-height: 61px;
}
#menu ul li a:hover,  #menu ul li .active{
background: url(../img/header/active.png) center;
}
footer{
width: 1040px;
margin: auto;
}
#updates,#social-media,#testimonials{
float: left;
width: 31.33%;
margin: 10px;
padding-bottom: 20px;
border-bottom: 1.4px dotted #ffffff;
min-height: 180px;
}
#updates h2,#social-media h2,#testimonials h2{
font-size: 18px;
font-weight: normal;
border-bottom: 1.3px dotted #ffffff;
padding-bottom: 10px;
padding-left: 10px;
}
#updates p{
font-size: 12px;
font-weight: bold;
margin-top: 20px;
margin-left: 30px;
}
.facebook,.twitter{
padding-left: 30px;
margin-left: 30px;
}
.facebook{
background: url(../img/footer/facebook_link.png) no-repeat 0px 2px;
margin-top: 20px;
}
.twitter{
background: url(../img/footer/twitter_link.png) no-repeat 0px 2px;
margin-top: 10px;
}
.facebook a,.twitter a{
font-weight: bold;
text-decoration: none;
color: black;
}
.facebook a:hover,.twitter a:hover{
color: #ffffff;
}
.ls{
list-style: none;
padding-left: 0px;
margin-left: 30px;
margin-top: 20px;
}
.ls li{
background: url(../img/footer/ls.gif) no-repeat 0px 6px;
margin-bottom: 8px;
padding-left: 15px; 
}
.ls li a{
color: black;
text-decoration: none;
border-bottom: 1.4px dotted #ffffff;
}
.ls li a:hover{
color: #ffffff;
}
#copyright{
margin-top: 40px;
margin-bottom: 80px;
}
#copyright p{
font-weight: bold;
text-decoration: none;
color: black;
}

/*start----------------Bootstrap Carousel----------------*/
.home-slide{
    height: 350px;
}
#contentCarousel .carousel-inner{
width: 1050px;
margin: auto;
margin-top: 50px;
}
.left,.right{
background: none !important;
/*display: none;*/
}
.carousel-indicators{
position: absolute;
top: 0;
display: none;
}

/*
Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
CSS from:       http://codepen.io/transportedman/pen/NPWRGq
and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
Inspired from:  http://codepen.io/Rowno/pen/Afykb 
*/
.carousel-fade .carousel-inner .item {
opacity: 0;
transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
left: 0;
opacity: 0;
z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
opacity: 1;
}
.carousel-fade .carousel-control {
z-index: 2;
}
/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
.carousel-fade .carousel-inner > .item.next,
.carousel-fade .carousel-inner > .item.active.right {
opacity: 0;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-inner > .item.prev,
.carousel-fade .carousel-inner > .item.active.left {
opacity: 0;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-inner > .item.next.left,
.carousel-fade .carousel-inner > .item.prev.right,
.carousel-fade .carousel-inner > .item.active {
opacity: 1;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
}
/*end----------------Bootstrap Carousel----------------*/

/*start----------------About----------------*/
.aboutContent{
width: 95%;
margin: auto;
margin-top: 30px;
margin-bottom: 60px;
}
.aboutContent h6{
font-size: 30px;
}
/*end----------------About----------------*/

/*start----------------Marketing Plan----------------*/
.plan-slide-image div{
width: 80%;
margin: auto;
margin-bottom: 10px;
}
.plan-slide-image img{
width: 60%;
margin: auto;
}
/*end----------------Marketing Plan----------------*/

/*start----------------Login----------------*/
.loginContent{
width: 50%;
margin: auto;
}
/*end----------------Login----------------*/

/*start----------------Products----------------*/
.productContainer{
	color: white;
}
.productContainer ul li img{
	height: 50px;
	margin: 5px;
	cursor: pointer;
}
.productContainer ul{
	background: rgba(160, 193, 88, 0.38);
}
.productContainer ul li{
	list-style-type: none;
	display: inline-block;
    margin: 5px;
    /*width: 23%;*/
    /*background: #A0C158;*/
    background: rgba(169, 68, 66, 0.59);
    position: relative;
}
.productContainer ul li span{
	position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 10px;
    visibility: hidden;
}
/*.modal-backdrop.in{
	z-index: -1 !important;
}*/
.modal-content{
	border-radius: 0 !important;
}
.modal-content img{
	height: 300px;
	margin: 5px;
}
/*.product:hover{
	border: 2px solid white;
}*/
.parent-product{
	background: rgba(169, 68, 66, 0.59);
	padding-top: 5px;
	padding-bottom: 5px;
}
/*end----------------Products----------------*/