body{
    background: url('../img/bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Playfair Display', serif;
}
.index-header{
    /*position: fixed;*/
    width: 100%;
    height: 100px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;1+0,0+100;White+to+Transparent */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.index-header h1{
    color: white;
    margin-left: 25px;
    text-shadow: 0px 2px 2px rgba(2, 2, 2, 0.4);
    font-weight: 700;
    font-size: 30px;
    clear: left;
    margin-top: -10px;
}
.index-header img{
    margin-top: 10px;
   /* float: left;
    margin-left: 20px;*/
}
.form-horizontal{
    margin-left: 45px;
    width: 100%;
    margin-top: 45px;
}
.form-group label{
    color: #545F1C;
}
.container{
    /*margin: 26px;*/
}
.container-regs{
    margin-top: 40px;
    /*width: 500px;*/
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    position: relative;
    background: white;
}
.container-regs .form-header{
    background: green;
    border-radius: 5px 5px 0px 0px;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    color: white;
    padding-left: 20px;
}
#reg-form form{
    width: 600px;
    margin: auto;
}
.modal-body{
    height: 400px;
    overflow-y: scroll;
}
#iagree-btn{
    visibility: hidden;
}
label{
    text-align: right;
}
.auto-cap {
    text-transform: capitalize;
}

@media (max-width: 992px) {
    .form-group{
        width: 80% !important;
    }
    .asterisk{
        float: right;
        margin-top: -25px;
    }
}