body {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: Arial;
}
div.wrapperLogin {
    width: 100%;
    position: absolute;
    top: 43px;
    left: 0;
    bottom: 0;
    background-color:#67b168;
    /*background: url('../../img/LoginBackground.png') no-repeat;*/
    background-size: cover;
    height: 93%;
    /*background-size: contain;*/
}
div.LoginForm {
    width: 470px;
    position: relative;
    top: 30px;
    /*border: 1px solid #bababa;*/
}
div.formControl {
    width: 325px;
    margin: auto;
}
div.formControl > div {
    position: relative;
    top: -20px;
    left: 305px;
}
input.formControl {
    width: 100%;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #bababa;
    text-align: center;
}
input.loginButton {
    background-color: #ff7b00 !important;
    border: medium none;
    border-radius: 3px !important;
    box-shadow: 0 4px 0 #ff6007;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    margin-top: 8px;
    width: 130px;
    position: relative;
    left: 95px;
}
div.loginButton {
    width: 28%;
    margin: auto;
}
div.opacBg {
    height: 300px;
    width: 470px;
    background: rgba(255, 255, 255 , 0.7);
    margin: auto;
    position: relative;
    top: 10%;
    border-radius: 7px;
}
div.header {
    height: 7%;
    width: 100%;
    background: linear-gradient(#eea236, #ff7b00);
    background: -webkit-linear-gradient(#eea236, #ff7b00);
    position: absolute;
    top: 0;
    left: 0;
}
.loginTitle {
    color: #272727;
    font-size: x-large;
    margin-top: 50px;
    text-align: center !important;
}
div.user-err{
    height:10px;
    position:relative;
    top:-10px;
}
span.error {
    color:#ff0000;
    position: relative;
    left: 75px;
}

span.usernameLogo{
    background: url("../../img/usernameIcon.png");
    width: 2px;
    height: 25px;
}