body{
    line-height: 24px;
    word-spacing: 1px;
    letter-spacing: 0.3px;
    font-weight: 300;
    font-style: normal;
    color: #404040;
    font-size: 14px;
}
.fixed{
    position: fixed;
    top:0; left:0;
    width: 100%;
}
.fixed-footer{
    position: fixed;
    bottom:0; left:0;
    width: 100%;
}
nav ul a{
    font-size: 18px;
}

/*home*/
h1.header{
    font-size: 4.6rem;
}
.montain{
    width: 100%;
}

/*product*/
.mont-prod-main,.mont-prod-item{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
}
.mont-prod-main img{
    height: 300px;
    margin: auto;
}
.mont-prod-item img{
    height: 90px;
    margin: auto;
}
.mont-prod-item .slick-prev, .mont-prod-item .slick-next , .mont-prod-item .slick-prev:hover, .mont-prod-item .slick-next:hover{
    background: green;
    border-radius: 100%;
}
.mont-prod-item .slick-next{
    margin-right: 35px;
    z-index: 999;
    width: 30px;
    height: 30px;
}
.mont-prod-item .slick-prev{
    margin-left: 35px;
    z-index: 999;
    width: 30px;
    height: 30px;
}
.mont-green-iso img, .mont-pink-iso img{
    width: 70%;
}

/*marketing-plan*/
.marketing-plan-main{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
}
.marketing-plan-main img{
    height: 300px;
    margin: auto;
}
.marketing-plan-main .slick-prev, .marketing-plan-main .slick-next , .marketing-plan-main .slick-prev:hover, .marketing-plan-main .slick-next:hover{
    background: #7285AF;
    border-radius: 100%;
}
.marketing-plan-main .slick-next{
    margin-right: 35px;
    z-index: 999;
    width: 30px;
    height: 30px;
}
.marketing-plan-main .slick-prev{
    margin-left: 35px;
    z-index: 999;
    width: 30px;
    height: 30px;
}
.marketing-plan-item div{
    cursor: pointer;
}
.ladder-to-success-girl img{
    width: 100%;
}
.slick-slide{
    outline: none;
}

/*about us*/
.about-container{
    background: rgb(248,255,232); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(248,255,232,1) 0%, rgba(227,245,171,1) 33%, rgba(183,223,45,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*cotact us*/
.address{
    width: 50%;
    padding: 5px;
    border-radius: 15px;
}
.address span:nth-child(2){
    font-size: 15px;

    color: #808080;
}
.address span:nth-child(1){
    font-size: 15px;
    font-weight: 900;
    color: #33691e;
}

/*user-dashboard*/
.border{
    margin:auto;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
    padding:5px;
    margin-bottom: 10px;
}
.text-right{
    text-align: right;
}