body{
    background: rgb(248,255,232); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(248,255,232,1) 0%, rgba(227,245,171,1) 33%, rgba(183,223,45,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.cashout{
    background: rgba(46, 95, 27,0.2);
}
.cashout h5{
    color: #fff;
}
.cashout-total{
    background: white;
}
.cashout-total span{
    font-weight: bolder;
}
.cashout table{
    background: white;
}
.available-balance span{
    font-size: 20px;
    font-weight: bolder;
}
.tab-content{
    visibility: hidden;
}
