div.navContainer {
   width: 250px;
    height: 100px;
    border-radius: 7px;
    background-color: #f59e00;
}
.sideBarMenu {
    background-color: #fefefe;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    border-bottom: 1px solid #E7EDEF;
    padding: 8px 20px;
    color:#585858;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.sideBarMenu:hover {
    /*color: #ffa902;
    background-color: white;
    width: 110%;
    position: relative;
    left: -10px;*/
    background: green;
    background: rgb(67, 162, 67);
    rgb(28, 216, 28);

    color: white;
}
/*dropdowm content*/
.sideBarMenuManagement {
    height: 0;
    overflow: hidden;
}
.managementList {
    background-color: #fefefe;
    width: 250px;
    box-sizing: border-box;
    height: 40px;
    border-bottom: 1px solid #E7EDEF;
    padding: 8px 20px;
    list-style-type: none;
    margin-left: -40px;
    text-indent: 15px;
    color:#585858;
    font-size: 12px;
    font-weight: bold;
}
.managementList:hover {
    color: #ffa902;
    background-color: #F6F5F5;
}
#dropdownManagementList {
    -webkit-transition: width .5s ease, height .5s ease;
    -moz-transition: width .5s ease, height .5s ease;
    -o-transition: width .5s ease, height .5s ease;
    transition: width .5s ease, height .5s ease;
}
.showManagementList{
    height: 240px;
}

.ahref{
    color:#585858;
}
.active-menu div{
    background: green !important;
    color: white !important;;
}